*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


ul,
ol,
li{
  list-style: none;
}

img{
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: inherit;
  font-size: inherit;
}

.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  z-index: 2;
  transition: 3s all;
  opacity: 1;
  visibility: visible;
}

.loader{
  width: 30px;
  height: 30px;
  border: 3px solid rgb(83, 39, 85);
  border-radius: 48%;
  border-top-color: rgb(255, 36, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 1s spin infinite linear;
}

.done{
  opacity: 0;
  visibility: hidden;
}

@keyframes spin{
  from{
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to{
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* 100;300;400;500;700;900 */
html, body{
  height: 100%;
  line-height: 1;
  background:url('/Kalyambikus/img/bg-space.jpg')no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  font-family: 'Rubik', 'Roboto', sans-serif;
  user-select: none;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.header{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.192);
  box-shadow: 0px 5px 50px rgb(0, 0, 0);
  padding: 2%;
  text-align: center;
  position: relative;
}

.main{
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
}

.footer{
  height: 70px;
  font-size: 20px;
  color: rgba(240, 248, 255, 0.411);
  background-color: rgba(0, 0, 0, 0.192);
  box-shadow: 0px 5px 50px rgb(0, 0, 0);
  padding: 30px;
  text-align: center;
}


.mainblock{
  width: 700px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.014);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089);
}

.first-block, .third-block{
  width: 450px;
}
hr {
  opacity: 20%;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


.list-first{
  width: 950px;
    border: 2px solid #ffd4f950;
    border-radius: 20px;
    overflow: auto;
    padding: 5%;
    backdrop-filter: blur(2px);
}

.list-first-roll{
  border: 2px solid #ffd4f950;
  border-radius: 20px;
  overflow: auto;
  padding: 5%;
  backdrop-filter: blur(2px);
}

.second-block{
  width: 1000px;
}

.nameblock{
  font-size: 30px;
  font-weight: 600;
}

/* КНОПОЧКИ */


.nav-disc{
  font-size: 16px;
  padding: 1.3%;
  margin: 1% auto ;
  display:block;
  max-width: 500px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(240, 248, 255);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.11);
  transition: background-color 0.5s;
}

.nav-disc:hover{
  background-color: rgba(255, 255, 255, 0.281);
  border: 2px solid rgb(240, 248, 255);
  transition: background-color 0.5s;
}


.nav-li{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 1%;
  font-size: 30px;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.11);
  border: 2px solid rgb(240, 248, 255);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  backdrop-filter: blur(40px);
  transition: background-color 0.5s;
}

.nav-li-roulette{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 30px;
  background: transparent;
  background-color: rgba(201, 110, 196, 0.418);
  border: 2px solid rgb(240, 248, 255);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  backdrop-filter: blur(40px);
  transition: background-color 0.5s;
}

.nav-li:hover, .nav-li-roulette:hover{
  background-color: rgba(255, 255, 255, 0.281);
  border: 2px solid rgb(240, 248, 255);
  transition: background-color 0.5s;
}

.nav-li-roulette:hover{
  background-color: rgba(255, 83, 169, 0.7);
  border: 2px solid rgb(240, 248, 255);
  transition: background-color 0.5s;
}

details {
  border: 1px solid rgba(108, 191, 247, 0.349);
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  background-color: rgba(112, 59, 197, 0.158);
  display: block;
}

details[open] {
  animation: slide .5s;
}

.linkontext{
  color: rgb(44, 204, 204);
  transition: 0.5s;
}

.linkontext:hover{
  color: rgb(108, 255, 255);
  transition: 0.5s;
}

@keyframes slide {
  0%    { opacity: 0; transform:  translate(0, -10px); }
  100%  { opacity: 1; transform:  translate(0, 0); }
}


summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
}

.container {

  width: 100%;
  text-align: center;
}

#wheelOfFortune {
  
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#wheel {
  
  display: block;
}

#spin {
  font: 1.5em/0 sans-serif;
  user-select: none;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  margin: -15%;
  background: rgb(142, 76, 218);
  color: rgba(255, 255, 255, 0.801);
  font-size: 20px;
  word-break:break-all;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border: solid 1px #eee;
  border-radius: 500%;
  transition: 0.8s;
  
}

#spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}


.rextroulette{
  font-size: 40px;
  color: rgba(255, 255, 255, 0.973);
  padding: 2%;
  background: transparent;
  border: solid 1px #eee;
  border-radius: 10px/10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.characters{
  color: rgb(255, 128, 166);
  display: block;
  cursor: default;
  font-size: 30px;
  margin: 2%;
  margin-bottom: 4%;
  backdrop-filter: blur(2px);
}

.line-spacing{

  margin: 3%;
  font-size: 16px;
}

.line-spacing-price{
  margin: 1%;
  font-size: 16px;
}

.setInterval{
  line-height: 150%;
}


.line-spacing-price-top{
  margin: 1%;
  font-size: 30px;
}

img { pointer-events: none; }




.sdv{
 color: #fd46468a


 ;
}
